@font-face {
 font-family: 'Technique_open';
 src: url('../fonts/techniqo.ttf');
 /* Don't forget to IE fix */
 src: url('../fonts/techniqo.ttf?#iefix') format('embedded-opentype'),
      url('../fonts/techniqo.ttf') format('tff');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Technique_unopen';
 src: url('../fonts/techniqu.ttf');
 /* Don't forget to IE fix */
 src: url('../fonts/techniqu.ttf?#iefix') format('embedded-opentype'),
      url('../fonts/techniqu.ttf') format('tff');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'dot_printed';
 src: url('../fonts/BPdots.otf');
 /* Don't forget to IE fix */
 src: url('../fonts/BPdots.otf?#iefix') format('embedded-opentype'),
      url('../fonts/BPdots.otf') format('oft');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'dot_printed_bold';
 src: url('../fonts/BPdotsBold.otf');
 /* Don't forget to IE fix */
 src: url('../fonts/BPdotsBold.otf?#iefix') format('embedded-opentype'),
      url('../fonts/BPdotsBold.otf') format('otf');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'dot_printed_minus';
 src: url('../fonts/BPdotsMinus.otf');
 /* Don't forget to IE fix */
 src: url('../fonts/BPdotsMinus.otf?#iefix') format('embedded-opentype'),
      url('../fonts/BPdotsMinus.otf') format('otf');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'dot_printed_minus_bold';
 src: url('../fonts/BPdotsMinusBold.otf');
 /* Don't forget to IE fix */
 src: url('../fonts/BPdotsMinusBold.otf?#iefix') format('embedded-opentype'),
      url('../fonts/BPdotsMinusBold.otf') format('otf');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'plexifont';
 src: url('../fonts/plexifont.ttf');
 /* Don't forget to IE fix */
 src: url('../fonts/plexifont.ttf?#iefix') format('embedded-opentype'),
      url('../fonts/plexifont.ttf') format('tff');
 font-weight: normal;
 font-style: normal;
}

